<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UTrello - Delete Task</title>
    <link rel="stylesheet" href="../css/task.css" />
  </head>

  <body>
    <a href="/dashboard" class="dashboard">Go back to dashboard</a>
    <div class="container">
      <h1>Delete Task</h1>
      <form action="/delete-task" method="post">
        <div class="form-group">
          <label for="taskId">Task ID:</label>
          <input type="number" id="taskId" name="taskId" placeholder="Enter Task ID you wanna delete" required />
        </div>
        <button type="submit" class="submit-button">Delete Task</button>
      </form>

      <% if ( context["message"] == "OK" ) { %>
        <p id="notification" class="notification-bar success">
          Task deleted successfully. Redirecting to dashboard...
        </p>
        <script>
          setTimeout(function() {
            window.location.href = "/dashboard";
          }, 2000);
        </script>
      <% } else if ( context["message"] != "" ) { %>
        <p id="notification" class="notification-bar error">
          <% std::cout << context["message"]; %>
        </p>
        <script>
          setTimeout(function() {
            var errMsg = document.getElementById("notification");
            if (errMsg) {
              errMsg.style.display = "none";
            }
          }, 3000);
        </script>
      <% } %>

    </div>
  </body>
</html>

